.title {
  font-weight: 600;
}

.imageWrapper {
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  width: 100%;

  & img {
    display: block;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16 / 9;

    background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(0, 0, 0, 0.05) 50%,
      rgba(0, 0, 0, 0.22) 100%
    );

    border-radius: 0.5rem;
  }
}
